*
{
	box-sizing: border-box;

}
h1
{
	margin-top: 100px;
	margin-bottom: 100px;
	text-align: center;
}

p
{
	padding: 0 0 10px 10px;
	background-color: grey;
	border: 1px solid black;
	width: 90%;
  	margin-right: auto;
  	margin-left: auto;
  	font-family: Helvetica;
  	color: white;
  	justify-content: left;
  	font-size: 110%;
}

.row {
  width: 100%;
}
span
{
	display: block;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	width: 30%;
	text-align: center;
	position: relative;
	left:70%;
	font-size: 120%;
	top:0;
	margin-bottom: 5px;
	color:white;
}

.row .col:nth-child(odd) p span
{
	background-color: maroon;	
}
.row .col:nth-child(even) p span
{
	background-color: pink;
	
}



/* Large devices */
@media (min-width: 992px) {
  .col-lg-4, .col-lg-6, .col-lg-12 {
    float:left;
    }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-12 p
  {
  	width:95%;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-4, .col-md-6, .col-md-12 {
    float: left;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-12 p
  {
  	width:95%;
  }
}

/********** small devices only **********/
@media (max-width: 767px) {
  .col-sm-4, .col-sm-6, .col-sm-12 {
    float: left;
  }
  .col-sm-4 {
    width: 33.33%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-12 p
  {
  	width:95%;
  }
